phpunit.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="phpunit" type="phpunitType"/>
  <xs:complexType name="testsuiteType">
    <xs:sequence>
      <xs:element type="xs:string" name="directory"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name"/>
  </xs:complexType>
  <xs:complexType name="testsuitesType">
    <xs:sequence>
      <xs:element type="testsuiteType" name="testsuite"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="directoryType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="suffix"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="includeType">
    <xs:sequence>
      <xs:element type="directoryType" name="directory"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="coverageType">
    <xs:sequence>
      <xs:element type="includeType" name="include"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="phpunitType">
    <xs:sequence>
      <xs:element type="testsuitesType" name="testsuites"/>
      <xs:element type="coverageType" name="coverage"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="bootstrap"/>
    <xs:attribute type="xs:string" name="cacheDirectory"/>
    <xs:attribute type="xs:string" name="executionOrder"/>
    <xs:attribute type="xs:string" name="requireCoverageMetadata"/>
    <xs:attribute type="xs:string" name="beStrictAboutCoverageMetadata"/>
    <xs:attribute type="xs:string" name="beStrictAboutOutputDuringTests"/>
    <xs:attribute type="xs:string" name="colors"/>
    <xs:attribute type="xs:string" name="failOnRisky"/>
    <xs:attribute type="xs:string" name="failOnWarning"/>
  </xs:complexType>
</xs:schema>